body {
    background-color: black;
    color: white;
    text-align: center;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.title-container {
    background-color: black;
    color: white;
    padding: 10px 0;
    font-size: 20px;
    font-weight: bold;
}

.video-container {
    margin-top: 20px;
}

.watermark {
    position: fixed;
    top: 10px;
    right: 10px;
    width: 40px; /* Smaller watermark */
    opacity: 0.8;
}
